:root {
    --yellow-color: #f2dc50;
    --lightBlue-color: #d6efff;
    --blue-color: #788bff;
    --white-color: #f7fff7;
    --red-color: #ff6b6b;

    /*font-family: 'Lato', sans-serif;*/
    /*font-family: 'DM Serif Text', serif;*/
}

/*---------------------------------------------------------*/
/*----------------------INDEX (HOME) PAGE------------------*/
/*---------------------------------------------------------*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background: var(--white-color);
}

.content-body{
    margin-left: 25%;
    padding: 100px 16px;
    height: 1000px;
}

/*-----------NAVBAR------------*/
ul {
    z-index: 2; /* Keep the nav on top of everything */
    list-style-type: none;
    margin: 0;
    padding: 30px;
    background-color: var(--white-color);

    display: flex;
    flex-direction: column;

    height: 100vh; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li {
    float: left;
}

li a {
    display: block;
    color: var(--white-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: var(--lightBlue-color);
}

#logout-link{
    color: var(--red-color);
}

/*-----------SEARCH NAVBAR------------*/

.search-navbar input[type=text] {
    width: 300px;
    margin: 20px;
    float: right;
    border: var(--lightBlue-color) solid 1px;
}
.search-navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;

}
#filter-icon{
    height: 30px;
    width: auto;
    float: right;
    margin: 20px 0;
}

/*-----------LOGIN FORM------------*/
.login-all {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

input[type="text"],input[type="password"] {
    display: block;
    width: 309px;
    height: 35px;
    margin: 30px auto;
    background: var(--white-color);
    border: 0px;
    padding: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

input[type="text"]:focus, input[type="password"]:focus{
    border: 2px solid var(--yellow-color);
}

input[type="submit"]{
    display: block;
    background: var(--yellow-color);
    width: 314px;
    padding: 12px;
    cursor: pointer;
    color: var(--white-color);
    border: 0px;
    margin: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 17px;
    transition: all 0.3s ease;
}

input[type="submit"]:hover{
    background: var(--lightBlue-color);
    color: var(--blue-color);
}



/*-----------LOGIN SECTION------------*/

.login-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    grid-area: 1 / 2 / 2 / 3;

    height: 600px;
    width: 900px;

    margin: 50px;
}

.login-section{
    color: var(--white-color);
    background: var(--blue-color);
    padding: 180px 50px;
}


/*-----------HELLO WORLD SECTION------------*/
.hello-world-section{
    background: var(--lightBlue-color);
    padding: 150px 50px;
}
.hello-world-section h1{
    font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
    color: var(--blue-color);
    font-family: 'DM Serif Text', serif;
    margin: 10px 0;
}
.hello-world-section p{
    margin-bottom: 50px;
}

/*-----------SOCIAL------------*/
#social-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#facebook-btn{
    background: #3b5998;
    margin: 20px 0;
    width: 160px;
}
#google-btn{
    background: #de5246;
    margin: 20px 0;
    width: 160px;
}

#facebook-btn:hover{
    background: #527cd5;
    margin: 20px 0;
}
#google-btn:hover{
    background: #fa5d50;
    margin: 20px 0;
}

/*-----------USER PROFILE------------*/
#user-img{
    margin: 50px 0px;
    height: 150px;
    width: auto;
}
.user-profile, .personal-ad-listings{
    margin: 100px 50px;
    width: 500px;
}
#profile-header{
    font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
    color: var(--blue-color);
    font-family: 'DM Serif Text', serif;
    line-height: calc(30px + (51 - 30) * ((100vw - 300px) / (1600 - 300)));
}
.ad-card{
    height: 200px;
    width: 300px;
    background: var(--white-color);
}
.ad-card a, .ad-card svg{
    text-decoration: none;
    color: var(--blue-color);
    fill: var(--blue-color);
    text-align: center;
}

/*-----------CREATE AD FORM------------*/
#create-ad{
    width: 500px;
}

/*---------------------------------------------------------*/
/*------when the browser window is 600px wide or less------*/
/*---------------------------------------------------------*/
@media only screen and (max-width: 768px) {


}


